<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>clienteControl</servlet-name>
        <servlet-class>com.mycompany.geminispro.miweb.controlador.clienteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoriaControl</servlet-name>
        <servlet-class>com.mycompany.geminispro.miweb.controlador.categoriaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proveedorControl</servlet-name>
        <servlet-class>com.mycompany.geminispro.miweb.controlador.proveedorControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usuarioControl</servlet-name>
        <servlet-class>com.mycompany.geminispro.miweb.controlador.usuarioControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productoControl</servlet-name>
        <servlet-class>com.mycompany.geminispro.miweb.controlador.productoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>factura_compraControl</servlet-name>
        <servlet-class>com.mycompany.geminispro.miweb.controlador.factura_compraControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>factura_de_ventaControl</servlet-name>
        <servlet-class>com.mycompany.geminispro.miweb.controlador.factura_de_ventaControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clienteControl</servlet-name>
        <url-pattern>/clienteControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoriaControl</servlet-name>
        <url-pattern>/categoriaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proveedorControl</servlet-name>
        <url-pattern>/proveedorControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuarioControl</servlet-name>
        <url-pattern>/usuarioControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productoControl</servlet-name>
        <url-pattern>/productoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>factura_compraControl</servlet-name>
        <url-pattern>/factura_compraControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>factura_de_ventaControl</servlet-name>
        <url-pattern>/factura_de_ventaControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
